# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.VSCodeCounter/2024-12-16_15-03-56/details.md
.VSCodeCounter/2024-12-16_15-03-56/diff-details.md
.VSCodeCounter/2024-12-16_15-03-56/diff.csv
.VSCodeCounter/2024-12-16_15-03-56/diff.md
.VSCodeCounter/2024-12-16_15-03-56/diff.txt
.VSCodeCounter/2024-12-16_15-03-56/results.csv
.VSCodeCounter/2024-12-16_15-03-56/results.json
.VSCodeCounter/2024-12-16_15-03-56/results.md
.VSCodeCounter/2024-12-16_15-03-56/results.txt
