<div class="administrator-container">
  <header class="administrator-header">
    <button (click)="navigateTo('owners')">Owners</button>
    <button (click)="navigateTo('properties')">Properties</button>
    <button (click)="navigateTo('repairs')">Repairs</button>
  </header>

  <div id="bootstrapCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Living20Room_BridgeSt-06_V2_web.jpg" class="d-block w-100" alt="Renovation Work">
      </div> 
      <div class="carousel-item">
        <img src="assets/Ap3m4SRPcE2YwhtrMQ6bh3.jpg" class="d-block w-100" alt="Construction Planning">
      </div>
      <div class="carousel-item">
        <img src="assets/reath.jpg" class="d-block w-100" alt="Home Repairs">
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bootstrapCarousel" data-bs-slide="prev" (click)="previousImage()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bootstrapCarousel" data-bs-slide="next" (click)="nextImage()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
