<header class="header">
 
  <div class="logo">
    <img src="assets/Santa-TECHNICO.jpg" alt="Technico" class="img-fluid" />
  </div>

  <div class="header-text">
    <p class="m-0">Did you break it? We can fix it!!</p>
  </div>



  <div class="loadingspinner">
    <div id="square1"></div>
    <div id="square2"></div>
    <div id="square3"></div>
    <div id="square4"></div>
    <div id="square5"></div>
  </div>

  
  <nav class="nav">
    <ul class="nav nav-underline d-flex">
      <li class="nav-item"><a class="nav-link" (click)="navigateHome()">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['about-us']">About Us</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['contact-us']">Contact</a></li>

      <ng-container *ngIf="!isLoggedIn; else loggedIn">
        <li class="nav-item"><a class="nav-link" [routerLink]="['sign-in']">Log In</a></li>
      </ng-container>
      <ng-template #loggedIn>
        <li class="nav-item"><a class="nav-link" (click)="logout()">Log Out</a></li>
      </ng-template>


      <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['sign-in']">Log In</a></li> -->

    </ul>
  </nav>
</header> 


