<header class="header d-flex align-items-center justify-content-between p-3 bg-light">

  <div class="logo">
    <img src="assets/Technico.jpg" alt="Technico" class="img-fluid" style="max-height: 55px;" />
  </div>

  <div class="header-text">
    <p class="m-0 fw-bold">Did you break it? We can fix it!!</p>
  </div>

  <nav class="nav">
    <ul class="nav nav-underline d-flex gap-3">
      <li class="nav-item"><a class="nav-link" [routerLink]="['']">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['about-us']">About Us</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['contact-us']">Contact</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['sign-in']">Log In</a></li>
    </ul>
  </nav>
</header>
