.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  color: #333;
  

  background-image: url('/assets/landscaping.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  object-fit: cover;
  
 
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background image */
    filter: blur(3px); /* Adjust the blur intensity */
    z-index: -1;
  }
}

#createbutton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: .5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white for readability */
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.btn-sm {
  margin-right: 5px;
  cursor: pointer;
}

// button {
//   font-size: 16px;
//   border: none;
//   border-radius: 10px;
//   background-color: #1a1a1a; /* Black background */
//   color: #fff;
//   cursor: pointer;
//   transition: transform 0.2s;

//   &:hover {
//     transform: scale(1.1); /* Slight hover effect */
//   }
// }