<div class="properties-container">
    <div id="headProperty">
      <h2 id="PropertyList">Properties for User with Vat Number: {{ vatNumber }}</h2>  
    </div>

    <button id="createRepair" (click)="router.navigate(['create-repair'])">Create Repair</button>
    
    <table class="propertyTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Property Id</th>
            <th scope="col">Property E9 number</th>
            <th scope="col">Address</th>
            <th scope="col">Year of Construction</th>
            <th scope="col">Type</th>
            <th scope="col">Owner Vat</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let property of properties; let i = index">
                <td scope="row">{{ property.id }}</td>
                <td>{{ property.propertyIdentificationE9Number }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.yearOfConstruction }}</td>
                <td>{{ property.propertyType }}</td>
                <td>{{ property.owner.vatNumber }}</td>
                <td>
            <button class="update-button" id="updateProperty" (click)="onUpdate(property.id)">Update</button>
            <button class="btn btn-danger btn-sm" id="deleteRepair" (click)="onDelete(property.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  
  <div>
  <ng-template #noProperties>
    <div class="no-properties-message">
      <p>No properties found for this user.</p>
    </div>
  </ng-template>
</div>