<div class="createPropertyContainer">
    <h1>Create new Property</h1>
    
    <form [formGroup]="createPropertyForm" (submit)="onSubmit()" class="createPropertyForm">
      <div>
        <label for="propertyIdentificationE9Number">Property E9 Number:</label>
        <input id="propertyIdentificationE9Number" formControlName="propertyIdentificationE9Number" type="text" placeholder="Enter Property E9 Number">
      </div>
      <div>
        <label for="address">Address:</label>
        <input id="address" formControlName="address" type="text" placeholder="Enter Address">
      </div>
      <div>
        <label for="yearOfConstruction">Year of Construction:</label>
        <input id="yearOfConstruction" formControlName="yearOfConstruction" type="text" placeholder="Enter Year of Construction">
      </div>
      <div>
        <label for="propertyType">Property Type:</label>
        <select id="propertyType" formControlName="propertyType">
          <option value="" disabled>Select Property Type</option>
          <option *ngFor="let option of propertyTypeOptions" [value]="option.key">
            {{ option.value }}
          </option>
        </select>
      </div>
      <div *ngIf="componentType==='ADMIN'">
        <label for="ownerId">Owner Id:</label>
        <input id="ownerId" formControlName="ownerId" type="text" placeholder="Enter Owner Id Number">
      </div>
      <button type="submit" class="btn btn-outline-dark btn-lg" [disabled]="!createPropertyForm.valid">Create Property</button>
      <button type="button" class="btn btn-outline-dark btn-sm" (click)="createPropertyForm.reset()">Clear Form</button>
    </form>
  </div>
  
