<div class="update-owner-container">
    <h1>Update Owner</h1>
    
    <form [formGroup]="ownerForm" (ngSubmit)="onSubmit()" class="owner-form">
      <div>
        <label for="vatNumber">VAT Number:</label>
        <input id="vatNumber" formControlName="vatNumber" type="text" placeholder="Enter VAT Number" readonly>
      </div>
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="firstName" type="text" placeholder="Enter Name">
      </div>
      <div>
        <label for="surname">Surname:</label>
        <input id="surname" formControlName="lastName" type="text" placeholder="Enter Surname">
      </div>
      <div>
        <label for="address">Address:</label>
        <input 
        id="address" 
        formControlName="address" 
        type="text" 
        placeholder="Enter Address"
        />
      </div>
      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="string" placeholder="Enter Phone Number" >
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter Email" >
      </div>
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="userName" type="text" placeholder="Enter Username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter Password">
      </div>
      <!-- <div>
        <label for="propertyType">Property Type:</label>
        <select id="propertyType" formControlName="properties">
          <option value="" disabled>Select Property Type</option>
          <option value="DETACHED">Detached House</option>
          <option value="MAISONETTE">Maisonette</option>
          <option value="APARTMENT">Apartment</option>
        </select>
      </div> -->
      <button type="submit" [disabled]="!ownerForm.valid">Update Owner</button>
      <button type="button" (click)="ownerForm.reset()">Clear Form</button>
    </form>
  
  </div>
  
