.about-us-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  
    .about-us-header {
      text-align: center;
      margin-bottom: 2rem;
  
      h1 {
        font-size: 2.5rem;
        color: #007bff;
      }
  
      p {
        font-size: 1.2rem;
        margin-top: 0.5rem;
      }
    }
  
    .about-us-team,
    .about-us-values,
    .about-us-contact {
      margin-bottom: 2rem;
  
      h2 {
        font-size: 1.8rem;
        color: #007bff;
        border-bottom: 2px solid #007bff;
        display: inline-block;
        padding-bottom: 0.5rem;
      }
  
      p,
      ul {
        font-size: 1rem;
        margin-top: 1rem;
      }
  
      ul {
        list-style-type: disc;
        margin-left: 2rem;
  
        li {
          margin-bottom: 0.5rem;
  
          strong {
            color: #0056b3;
          }
        }
      }
    }
  
    .about-us-contact {
      address {
        font-style: normal;
  
        p {
          margin-bottom: 0.5rem;
        }
  
        strong {
          color: #0056b3;
        }
      }
    }
  }
  